<!DOCTYPE html>
<html>
<head>
<style>

<img src="pic_trulli.jpg" alt="Italian Trulli">
body {background-color: #e5bee2;}
h1   {color: black;}
p    {color: #490a45;
		font-weight: bold;}
#centrirat{
	width:50%;
	height:80%;
	opacity:0.9;
	margin-left:25%;
	float:center;

}
</style>
</head>
<body>
<div id="centrirat">
<h1>MATCH2DATE</h1>

<p>Svrha aplikacije je da pojednostavi i omogući stupanje u kontakt i dogovaranje sastanaka između osoba suprotnog spola. Ukoliko tražite savršenu osobu za sastanak, registrujte se na Match2Date. Korisnici na vrlo jednostavan način stupaju u kontakt s osobom s kojom dijele zajedničke interese. Uz obostranu saglasnost, spajanje počinje. Dogovaranje sastanaka nikada nije bilo lakše!</p>
</div>
</body>
</html>